html
  head
    title= title
  body
    img(src=src)
    each elem,i in result
      p Product Name: !{elem.name}
      p Product Description: !{elem.description}
      p Category ID: !{elem.category_id}
      p Category Name: !{elem.category}
      p Product Brand: !{elem.brand}
      p Product Price: !{elem.price}